<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>scheduler</title>
        <link rel="stylesheet" type="text/css" href="TT/styles.css">
        <script src="TT/jquery-1.9.1.min.js"></script>
        <script src="TT/script.js"></script>
        </script>
    </head>
    <body>
        <h1>Historie</h1>
        <h2>[% task_name %]
        <form method="post" action="?todo=save_preferences">
            <input type="hidden" name="user_id" value="[% user_id %]">
            <table>
                <tr>
                    <th>Task</th>
                    <th>Datum</th>
                </tr>
                [% FOREACH log_entry IN log_entries %]
                    <tr class="[% loop.parity %]">
                        <td>[% log_entry.task_name %]</td>
                        <td>[% log_entry.dt_done   %]</td>
                    </tr>
                [% END %]
            </table>
        </form>
    </body>
</html>
